:root {
    --dark-slate-gray: #2C423F;
    --pewter-blue: #7D98A1;
    --black-coral: #5E6572;
    --cadet-blue: #A9B4C2;
    --cultured: #EEF1EF;
}

@media screen and (max-width: 768px) {
    #about-me {
        margin-bottom: 60px;
    }
}

.socialBtn {
    border-radius: 50%;
    border-style: solid;
    background-color: var(--cultured);
}

.navbar-background {
    background-image: url(assets/images/coffee-writing-computer-blogging-34600.jpg);
    height: 80px;
}

.darkText {
    color: var(--dark-slate-gray);
}

.lightText {
    color: var(--cultured);
}